#metadata {
    float: left;
    padding: 20px 0 120px 100px;
    display:flex;
    flex-direction: column;
   
}


#item-back {
    cursor: pointer;
    position: absolute;
    margin-top:48px;
    margin-left: -80px;
    height: 50px;
    width: 50px;
    background: url(graphics/interface/back-black.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2000;
}


@media screen and (max-width: 950px) {
    #item-back {
        display:none;
        position: absolute;
        margin-left: 0px;
        margin-top: 15px;
        height: 50px;
        width: 50px;
        background: url(graphics/interface/back-black.png);
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
}






.section-title {

    display:block;
    height: auto;
    text-align: left;
    margin-top: 50px;
    font-weight: 200;
    font-style: normal;
    font-size: 40px;
    line-height: 1.0;
}


.meta-section-title {

    display:block;
    height: auto;
    text-align: left;
    margin-top: 30px;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    line-height: 1.0;
    margin-bottom:10px;
}



@media screen and (max-width: 950px) {
    .section-title {
        font-size: 45px;
        margin-bottom: 10px;
        margin-top: 40px;
        padding-right:20px;
        width:auto;
    }

    .meta-section-title {
        margin-top: 50px;
        font-size: 35px;
        line-height: 1.0;
        margin-bottom:20px;
    }

    #metadata {
        float: left;
        padding: 20px 0 120px 20px;
        display:flex;
        flex-direction: column;
        width:auto;
        font-weight:200; 
    }
}



#item-top-image {
padding: 0px 0px 0px 0px;
overflow:hidden;
width: 100%;
height: 70vh;
background-color: #333333;
}

#item-top-video {
overflow: hidden;
width: 100%;
min-width: 900px;
height: auto;
background-color: black;
float: left;
}

#item-top-pano {
overflow: hidden;
width: 100%;
height: 70vh;
background-color: black;
float: left;
}

@media screen and (max-width: 800px) {

#item-top-video {
    height: 70vh;
}
}

#ImageNavigator {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 1000px) {
    #item-top-pano {
        width: 100%;
        height: 500px;
    }
}

@media screen and (max-width: 800px) {
    #item-top-pano {
        width: 100%;
        height: 300px;
    }
}


#panorama {
    width: 100%;
    height: 100%;
}


.meta-article {
    max-width: 1600px;
    font-size: 20px;
    text-align: justify;
    margin-right: 10%;
    column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: grey;
}

.meta-article-solo {
    width: 80%;
    max-width:800px;
    font-size: 22px;
    text-align: left;
    column-count: 1;
}

@media screen and (max-width: 1200px) {
    .meta-article {
        column-count: 2;
    }
}

@media screen and (max-width: 950px) {
    .meta-article {
        column-count: 1;
        font-size: 22px;
    }
    .meta-article-solo {
        column-count: 1;
        font-size: 22px;
    }
}



.meta-container {
    float:left;
    width: auto;
    padding: 0 30px 0 0;
    margin-right:30px;
    margin-top: 0px;
    font-size: 22px;
    line-height: 1.8;
}


    .meta-container span {
        color: #4181a1;
    }



@media screen and (max-width: 950px) {
    .meta-container {
        margin-top: 0px;
        width: auto;
        font-size: 22px;
        line-height: 2.0;
    }
}


.download-container {
    display:block;
    float:left;
    margin-top: 0px;
}

.download-button {
    cursor: pointer;
    background: url(graphics/interface/download-button.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: RGBA(30, 30, 30, 0.0);
    font-size: 12px;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 10px;
    float: left;
}

.repository-button {
    cursor: pointer;
    background: url(graphics/interface/linkbutton.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: RGBA(30, 30, 30, 0.0);
    font-size: 12px;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 20px;
    float: left;
}

.download-label {
    margin-top: 5px;
    cursor: pointer;
    color: Black;
    font-size: 22px;
    position: relative;
    float: left;
}


@media screen and (max-width: 950px) {
    
    .download-container {
        width: auto;
        margin-top: -40px;

    }
    
    
    .download-label {
        margin-top: 0px;
        font-size: 28px;
    }
    
    .download-button {
        cursor: pointer;
        background: url(graphics/interface/download-button.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: RGBA(30, 30, 30, 0.0);
        font-size: 12px;
        width: 35px;
        height: 35px;
        position: relative;
        margin-right: 10px;
        float: left;
    }

    .repository-button {
        cursor: pointer;
        background: url(graphics/interface/linkbutton.png);
        background-size: 55px 55px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: RGBA(30, 30, 30, 0.0);
        font-size: 12px;
        width: 55px;
        height: 55px;
        position: relative;
        margin-right: 20px;
        float: left;
    }
}

.link-button {
    cursor: pointer;
    margin-top: 2px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #666666;
    background: url(graphics/interface/linkbutton.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: RGBA(30, 30, 30, 0.0);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    width: 20px;
    height: 20px;
    position: relative;
    float: left;
}
